Repository aws/aws-iot-fleetwise-edge: changes, and which pre-commit hooks are due for each by the changed paths.
All: replace-c-headers, validate-static-config, validate-persistency-metadata, validate-build-files

replace-c-headers:
  name: replace-c-headers
  ...

validate-static-config:
  name: validate-static-config
  entry: check-jsonschema --schemafile interfaces/protobuf/schemas/edgeConfiguration/staticConfiguration.json --
  language: python
  additional_dependencies:
  - check-jsonschema==0.25.0
  verbose: true

validate-persistency-metadata:
  name: validate-persistency-metadata
  entry: check-jsonschema --schemafile interfaces/persistency/schemas/persistencyMetadataFormat.json --
  language: python
  additional_dependencies:
  - check-jsonschema==0.25.0
  verbose: true

validate-build-files:
  name: validate-build-files
  entry: bash -e -c 'FILE_MISSING=false; for FILE in "$@"; do if ! grep -q "${FILE}" CMakeLists.txt; then echo "${FILE} is missing from CMakeLists.txt"; FILE_MISSING=true; fi; done; if ${FILE_MISSING}; then exit -1; fi' --
  language: python
  verbose: true

Update min CLI version to 2.22.3
  tools/cloud/demo.sh
Due: none

Decrease usage hint after handover to sender
  src/DataSenderProtoWriter.cpp
  src/RawDataManager.h
Due: replace-c-headers, validate-build-files

Decrease usage hint after handover to sender (#109)
  src/DataSenderProtoWriter.cpp
  src/RawDataManager.h
Due: replace-c-headers, validate-build-files

Update Ubuntu AMIs
  tools/cfn-templates/fwdemo.yml
  tools/cfn-templates/fwdev.yml
  tools/cfn-templates/vision-system-data-jupyter.yml
Due: none

Updated packaging version and create-command namespace
  docs/dev-guide/can-actuators-dev-guide.md
  docs/dev-guide/edge-agent-dev-guide-last-known-state.md
  docs/dev-guide/edge-agent-dev-guide-someip.md
  tools/cloud/install-deps.sh
Due: none

Updated packaging version and create-command namespace (#111)
  docs/dev-guide/can-actuators-dev-guide.md
  docs/dev-guide/edge-agent-dev-guide-last-known-state.md
  docs/dev-guide/edge-agent-dev-guide-someip.md
  tools/cloud/install-deps.sh
Due: none

Update Ubuntu 20.04 AMIs
  tools/cfn-templates/fwdemo.yml
  tools/cfn-templates/fwdev.yml
  tools/cfn-templates/vision-system-data-jupyter.yml
Due: none

Update AMIs
  tools/cfn-templates/fwdemo.yml
  tools/cfn-templates/fwdev.yml
  tools/cfn-templates/vision-system-data-jupyter.yml
Due: none

Update AMIs (#120)
  tools/cfn-templates/fwdemo.yml
  tools/cfn-templates/fwdev.yml
  tools/cfn-templates/vision-system-data-jupyter.yml
Due: none

Update ubuntu AMI
  tools/cfn-templates/fwdemo.yml
  tools/cfn-templates/fwdev.yml
  tools/cfn-templates/vision-system-data-jupyter.yml
Due: none

Update ubuntu AMI (#124)
  tools/cfn-templates/fwdemo.yml
  tools/cfn-templates/fwdev.yml
  tools/cfn-templates/vision-system-data-jupyter.yml
Due: none

Fix cross compilation for arm64 arch
  tools/install-deps-cross-arm64.sh
  tools/install-deps-cross-armhf.sh
Due: none

Use apt-dist upgrade to ensure proper kernel updates
  tools/cfn-templates/fwdemo.yml
  tools/cfn-templates/fwdev.yml
  tools/cfn-templates/vision-system-data-jupyter.yml
Due: none

Use apt-dist upgrade to ensure proper kernel updates (#126)
  tools/cfn-templates/fwdemo.yml
  tools/cfn-templates/fwdev.yml
  tools/cfn-templates/vision-system-data-jupyter.yml
Due: none

Release v1.3.1
  CHANGELOG.md
  CMakeLists.txt
  src/InspectionMatrixExtractor.cpp
  src/RemoteDiagnosticDataSource.cpp
  test/system/testframework/greengrass.py
  tools/cfn-templates/vision-system-data-jupyter.yml
  tools/install-deps-cross-arm64.sh
  tools/install-deps-cross-armhf.sh
Due: replace-c-headers, validate-build-files

Fix GitHub apt repo mirror sync issues for arm64/armhf by using ports.ubuntu.com
  tools/arm64.list
  tools/armhf.list
  tools/install-deps-cross-arm64.sh
  tools/install-deps-cross-armhf.sh
Due: none

Fix: Correct typo in ROS2 interface environment variable
  tools/configure-fwe.sh
Due: none

Update AMIs (#130)
  tools/cfn-templates/fwdemo.yml
  tools/cfn-templates/fwdev.yml
  tools/cfn-templates/vision-system-data-jupyter.yml
Due: none

Add connection timeout configuration to S3Sender
  configuration/static-config.json
  include/aws/iotfleetwise/S3Sender.h
  interfaces/protobuf/schemas/edgeConfiguration/staticConfiguration.json
  src/IoTFleetWiseEngine.cpp
  src/S3Sender.cpp
  test/unit/S3SenderTest.cpp
  test/unit/support/S3SenderMock.h
Due: replace-c-headers, validate-static-config, validate-build-files

Add connection timeout configuration to S3Sender (#131)
  configuration/static-config.json
  include/aws/iotfleetwise/S3Sender.h
  interfaces/protobuf/schemas/edgeConfiguration/staticConfiguration.json
  src/IoTFleetWiseEngine.cpp
  src/S3Sender.cpp
  test/unit/S3SenderTest.cpp
  test/unit/support/S3SenderMock.h
Due: replace-c-headers, validate-static-config, validate-build-files

Update default data destination to S3
  docs/dev-guide/can-over-someip-demo.md
  docs/dev-guide/edge-agent-dev-guide-nxp-s32g.md
  docs/dev-guide/edge-agent-dev-guide-renesas-rcar-s4.md
  docs/dev-guide/edge-agent-dev-guide.md
  docs/dev-guide/images/can-over-someip-demo-diagram.jpg
  docs/dev-guide/images/someip-collection-diagram.jpg
  docs/dev-guide/store-and-forward-dev-guide.md
  docs/iwave-g26-tutorial/iwave-g26-tutorial.md
  docs/rpi-tutorial/raspberry-pi-tutorial.md
  tools/cloud/demo.sh
Due: none

Update default data destination to S3 (#137)
  docs/dev-guide/can-over-someip-demo.md
  docs/dev-guide/edge-agent-dev-guide-nxp-s32g.md
  docs/dev-guide/edge-agent-dev-guide-renesas-rcar-s4.md
  docs/dev-guide/edge-agent-dev-guide.md
  docs/dev-guide/images/can-over-someip-demo-diagram.jpg
  docs/dev-guide/images/someip-collection-diagram.jpg
  docs/dev-guide/store-and-forward-dev-guide.md
  docs/iwave-g26-tutorial/iwave-g26-tutorial.md
  docs/rpi-tutorial/raspberry-pi-tutorial.md
  tools/cloud/demo.sh
Due: none

Path conditions:
  replace-c-headers: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  validate-static-config: any of: configuration/static-config.json|tools/android-app/app/src/main/assets/config-0.json and \.json$
  validate-persistency-metadata: any of: interfaces/persistency/examples/persistencyMetadataFormat.json and \.json$
  validate-build-files: any of: ^src|^test/unit and \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not (^test/unit/support)
